<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Доставка</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Simple header" data-translation="Рыба №1" data-ch="0" data-type="trSpan">Рыбный №1 </ya-tr-span></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page"><ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-ch="0" data-type="trSpan">Главная</ya-tr-span></a></li>
        <li class="nav-item"><a href="{% url 'range'%}" class="nav-link"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Pricing" data-translation="Ассортимент" data-ch="0" data-type="trSpan">Ассортимент</ya-tr-span></a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link"><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="About" data-translation="О нас" data-ch="0" data-type="trSpan">Информация</ya-tr-span></a></li>
        <li class="nav-item"><a href="{% url 'delivery'%}" class="nav-link"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Pricing" data-translation="Доставка" data-ch="0" data-type="trSpan">Доставка</ya-tr-span></a></li>
      </ul>
    </header>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://shumoff02.ru/shumoffbiz/userfiles/tu-docs/delivery/2456241649980952.png" alt="" width="120" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Centered hero" data-translation="Герой по центру" data-ch="0" data-type="trSpan">Наша Доставка</ya-tr-span></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins." data-translation="Быстро создавайте и настраивайте адаптивные сайты для мобильных устройств с помощью Bootstrap, самого популярного в мире интерфейсного инструментария с открытым исходным кодом, включающего переменные Sass и mixins, адаптивную сеточную систему, обширные готовые компоненты и мощные плагины JavaScript." data-ch="0" data-type="trSpan" data-selected="false">Доставка осуществляется курьерской компанией СДЭК до адреса или до пункта выдачи СДЭК.
Срок доставки в среднем составляет 2−7 дней с момента отправки заказа в зависимости от города и выбранного тарифа.
Передача в курьерскую службу осуществляется в течение 3-х рабочих дней после подтверждения и оплаты заказа.
* Для уточнения сроков, точной стоимости доставки и способа оплаты обращайтесь к нашему менеджеру по телефону: 8−915−478−43−42.</ya-tr-span></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

      </div>
    </div>
  </div>
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom"><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Custom cards" data-translation="Пользовательские карты" data-ch="0" data-type="trSpan" data-selected="false">Плюсы нашей Доставки</ya-tr-span></h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://cdn.iconscout.com/icon/premium/png-512-thumb/delivery-man-37-1082653.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Short title, long jacket" data-translation="Короткое название, длинная обложка" data-ch="0" data-type="trSpan" data-selected="false">БЫСТРО</ya-tr-span></h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">

              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>

              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://cdn-icons-png.flaticon.com/512/177/177818.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Much longer title that wraps to multiple lines" data-translation="Гораздо более длинный заголовок, который переносится на несколько строк" data-ch="0" data-type="trSpan" data-selected="false">УДОБНО</ya-tr-span></h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">

              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>

              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://static.tildacdn.com/tild6236-3034-4530-a231-396663396434/delivery-man.svg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><ya-tr-span data-index="15-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Another longer title belongs here" data-translation="Здесь уместно другое более длинное название" data-ch="0" data-type="trSpan" data-selected="false">НАДЕЖНО</ya-tr-span></h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">

              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>

              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>